<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" style="font-size: 20px; color: white"
        href="{{{or site.url (or siteRootUrl siteRootPath)}}}">
        <img src="{{uiRootPath}}/img/validated-patterns.png" height="35px" alt="Red Hat Validated Patterns">&nbsp; {{site.title}}</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Patterns</a>
          <div class="navbar-dropdown">
          <a class="navbar-item" target="_blank" href="https://validatedpatterns.io/">Validated Patterns Home</a>
          <a class="navbar-item" target="_blank" href="https://github.com/validatedpatterns">GitHub</a>
          <a class="navbar-item" target="_blank" href="https://validatedpatterns.io/ci">Status</a>
          <a class="navbar-item" target="_blank" href="https://validatedpatterns.io/blog">Blog</a>
          <a class="navbar-item" target="_blank" href="https://www.youtube.com/@teamvalidatedpatterns737">VP YouTube Channel</a>
        </div>
          </div>


        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Workshops</a>
          <div class="navbar-dropdown">
          <a class="navbar-item" target="_blank" href="https://openshiftdemos.github.io/openshift-gitops-workshop">OpenShift GitOps Workshop</a>
          <a class="navbar-item" target="_blank" href="https://openshiftdemos.github.io/argo-rollouts-workshop">Argo Rollouts Workshop</a>
          </div>
        </div> 

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Resources</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" target="_blank" href="https://red.ht/aoa">Ask an OpenShift Admin</a>
            <a class="navbar-item" target="_blank" href="https://red.ht/ggg">GitOps Guide to the Galaxy</a>
            <a class="navbar-item" target="_blank" href="https://commons.openshift.org/">OpenShift Commons</a>
            <a class="navbar-item" target="_blank" href="https://developers.redhat.com">Red Hat Developers</a>
            <a class="navbar-item" target="_blank" href="https://developers.redhat.com/app-dev-platform">App Dev Platform</a>
            <a class="navbar-item" target="_blank" href="https://www.redhat.com/en/products/application-foundations">Red Hat Application Services</a>
          </div>
        </div> 

      </div>
    </div>
  </nav>
</header>
